.main {
    background-color: #0f172a;
    color: white;
}

.stButton>button {
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    font-size: 18px;
}

.card {
    padding: 20px;
    border-radius: 15px;
    background-color: #1e293b;
    margin-bottom: 20px;
}
